@font-face {
  font-family: iransansbold;
  src: url("../fonts/IRANSansX-Bold.otf") format("otf"),
    url("../fonts/IRANSansX-Bold.ttf") format("ttf"),
    url("../fonts/IRANSansX-Bold.woff") format("woff"),
    url("../fonts/IRANSansX-Bold.woff2") format("woff2");
}
@font-face {
  font-family: iransans;
  src: url("../fonts/IRANSansX-Regular.otf") format("otf"),
    url("../fonts/IRANSansX-Regular.ttf") format("ttf"),
    url("../fonts/IRANSansX-Regular.woff") format("woff"),
    url("../fonts/IRANSansX-Regular.woff2") format("woff2");
}
* {
  font-family: iransansbold !important;
}
body {
  margin: 0;
}
.collapse {
  direction: rtl;
  text-align: right;
}

hr {
  border: 1px rgba(0, 0, 0, 0.4) solid !important;
}
p,
h1,
h2,
button {
  direction: rtl;
}
button a:hover {
  text-decoration: none;
  color: white;
}
button a {
  color: white;
}
